@model InventoryEntity.Account.ResetPasswordDto
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
}


<div class="login-wrapper">
    <div class="login-content">
        <div class="login-userset">
            <div class="login-logo">
                <img src="~/assets/img/logo.png" alt="img">
            </div>
            <div class="login-userheading">
                <h3>Reset Password</h3>
                <h4>Please input correctly.</h4>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                <div class="form-login">
                    <label asp-for="@Model.Email">Email</label>
                    <div class="form-addons">
                        <input type="email" asp-for="@Model.Email" placeholder="Enter your email address">
                        <img src="~/assets/img/icons/mail.svg" alt="img">
                    </div>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-login">
                    <label asp-for="@Model.Password">Password</label>
                    <div class="pass-group">
                        <input type="password" class="pass-input" placeholder="Enter your password" asp-for="@Model.Password">
                        <span class="fas toggle-password fa-eye-slash"></span>
                    </div>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-login">
                    <label asp-for="@Model.ConfirmPassword">Password</label>
                    <div class="pass-group">
                        <input type="password" class="pass-inputs" placeholder="Enter your password" asp-for="@Model.ConfirmPassword">
                        <span class="fas toggle-passwords fa-eye-slash"></span>
                    </div>
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="@Model.Token" />
                <div class="form-login">
                    @* <a class="btn btn-login" href="index.html">Sign In</a> *@
                    <button type="submit" class="btn btn-login">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
    <div class="login-img">
        <img src="~/assets/img/login.jpg" alt="img">
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }
    <script type="text/javascript">
        $(document).ready(function () {

        });

    </script>
}
