@model InventoryEntity.Account.CredentialDto;
@{
    ViewData["Title"] = "Signin";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
}
<div class="login-wrapper">
    <div class="login-content">
        <div class="login-userset">
            <div class="login-logo">
                <img src="~/assets/img/logo.png" alt="img">
            </div>
            <div class="login-userheading">
                <h3>Sign In</h3>
                <h4>Please login to your account</h4>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <form asp-controller="Account" asp-action="Signin" method="post">
                <div class="form-login">
                    <label asp-for="@Model.login.Email">Email</label>
                    <div class="form-addons">
                        <input type="email" asp-for="@Model.login.Email" placeholder="Enter your email address">
                        <img src="~/assets/img/icons/mail.svg" alt="img">
                    </div>
                </div>
                <div class="form-login">
                    <label asp-for="@Model.login.Password">Password</label>
                    <div class="pass-group">
                        <input type="password" class="pass-input" placeholder="Enter your password" asp-for="@Model.login.Password">
                        <span class="fas toggle-password fa-eye-slash"></span>
                    </div>
                </div>
                <div class="form-login">
                    <div class="alreadyuser">
                        <h4><a asp-action="ForgotPassword" asp-controller="Account" class="hover-a">Forgot Password?</a></h4>
                    </div>
                </div>
                <div class="form-check">
                    <input type="checkbox" asp-for="@Model.login.IsRemember" class="form-check-input" />
                    <label asp-for="@Model.login.IsRemember" class="form-check-label">Keep me logged in.</label>
                </div>
                <div class="form-login">
                    @* <a class="btn btn-login" href="index.html">Sign In</a> *@
                    <button type="submit" class="btn btn-login">Sign In</button>
                </div>
            </form>
            
            <div class="signinform text-center">
                <h4>Don’t have an account? <a asp-action="Signup" asp-controller="Account" class="hover-a">Sign Up</a></h4>
            </div>
            <div class="form-setlogin">
                <h4>Or sign up with</h4>
            </div>
            <div class="form-sociallink">
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="~/assets/img/icons/google.png" class="me-2" alt="google">
                            Sign Up using Google
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="~/assets/img/icons/facebook.png" class="me-2" alt="google">
                            Sign Up using Facebook
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="login-img">
        <img src="~/assets/img/login.jpg" alt="img">
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }
    <script type="text/javascript">
        $(document).ready(function () {

        });

    </script>
}