@model InventoryEntity.Brand.BrandDto
@{
    ViewData["Title"] = "Add Brand";
}

<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Brand ADD</h4>
            <h6>Create new Brand</h6>
        </div>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <form asp-controller="Brand" asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label asp-for="@Model.Name">Brand Name</label>
                            <input type="text" asp-for="@Model.Name" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label asp-for="@Model.Description">Description</label>
                            <textarea asp-for="@Model.Description" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label asp-for="@Model.BrandImg"> Product Image</label>
                            <div class="image-upload" style="position:relative;">
                                <input asp-for="@Model.BrandImg" type="file" accept="image/*" id="fileInput" />
                                <div class="image-uploads" id="imageuloadContainer">
                                    <img src="~/assets/img/icons/upload.svg" alt="img" />
                                    <h4>Drag and drop a file to upload</h4>
                                </div>
                                <div class="icons-items text-center" id="fileDetails" style="display: none;height: 100px;align-content: center;">
                                    <span id="fileName"></span><br />
                                    <span id="fileSize"></span><br />
                                    <ul class="icons-list" style="list-style-type: none; padding: 0; margin: 0; display: flex; justify-content: center; align-items: center;position:absolute;top:0;right:0;">
                                        <li id="removeFile" style="display: flex; justify-content: center; align-items: center;cursor: pointer;">
                                            <i class="fa fa-times" data-bs-toggle="tooltip" title="Remove the image!"></i>
                                        </li>
                                    </ul>
                                    @* <button type="button" class="btn btn-danger" id="removeFile">Remove File</button> *@
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        @* <a href="javascript:void(0);" class="btn btn-submit me-2">Submit</a> *@
                        <button type="submit" class="btn btn-submit me-2">Submit</button>
                        <a class="btn btn-cancel" id="BrandSubmitCancelId">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#BrandSubmitCancelId').click(function () {
                showContentFail('Your dasdadad');
                showContent('Your dasdadad');
            });
            $('#fileInput').on('change', function () {
                var file = this.files[0];
                if (file) {
                    $('#fileName').text('File Name: ' + file.name);
                    $('#fileSize').text('File Size: ' + (file.size / 1024).toFixed(2) + ' KB');
                    $('#fileDetails').show();
                    $('#imageuloadContainer').hide();
                    $('#fileInput').hide();
                }
            });
            $('#removeFile').on('click', function () {
                $('#fileInput').val('');
                $('#fileDetails').hide();
                $('#imageuloadContainer').show();
                $('#fileInput').show();
            })
        });

    </script>
}