@model InventoryEntity.Product.ProductDto
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    var categoryList = ViewData["CategoryList"] as IEnumerable<Inventory.Models.Category>;
    var categorySelectList = categoryList != null
           ? new SelectList(categoryList, "Id", "Name")
           : new SelectList(Enumerable.Empty<Category>(), "Id", "Name");  
    var brandList = ViewData["BrandList"] as IEnumerable<Inventory.Models.Brand>;
    var brandSelectedList = brandList != null
    ? new SelectList(brandList, "Id", "Name")
    : new SelectList(Enumerable.Empty<Brand>(), "Id", "Name");
    var unitList = ViewData["UnitList"] as IEnumerable<Inventory.Models.Unit>;
    var unitSelectedList = unitList != null
    ? new SelectList(unitList, "Id", "Name")
    : new SelectList(Enumerable.Empty<Unit>(), "Id", "Name");
}
<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label asp-for="Name">Product Name</label>
        <input asp-for="Name" type="text" />
    </div>
</div>

<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label for="categorySelect">Category</label>
        <select class="select" id="categorySelect" asp-for="@Model.CategoryId" required asp-items="categorySelectList">
            <option value="" selected disabled>Choose Category</option>
            @*  @if (categoryList != null)
            {
            @foreach (var c in categoryList)
            {
            <option value="@c.Id">@c.Name</option>
            }
            }      *@
        </select>
    </div>
</div>

<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label asp-for="@Model.SubCategoryId">Sub Category</label>
        <select class="select" id="subcategorySelect" asp-for="@Model.SubCategoryId" required>
            <option value="" selected disabled>Choose Sub Category</option>
        </select>
    </div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label asp-for="@Model.BrandId">Brand</label>
        <select class="select" asp-for="@Model.BrandId" required asp-items="brandSelectedList">
            <option value="" selected disabled>Choose Brand</option>
        </select>
    </div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label asp-for="@Model.UnitId">Unit</label>
        <select class="select" asp-for="@Model.UnitId" asp-items="unitSelectedList" required>
            <option value="" selected disabled>Choose Unit</option>
        </select>
    </div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label asp-for="Sku">SKU</label>
        <input asp-for="Sku" type="text" />
    </div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label asp-for="MinQuantity">Minimum Qty</label>
        <input asp-for="MinQuantity" type="text" />
    </div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label asp-for="Quantity">Quantity</label>
        <input asp-for="Quantity" type="text" />
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label asp-for="Tax">Tax (%)</label>
        <input asp-for="Tax" type="text" />
    </div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label asp-for="Discount">Discount (%)</label>
        <input asp-for="Discount" type="text" />
    </div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" type="text" />
    </div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
    <div class="form-group">
        <label asp-for="Status"> Status</label>
       @*  <select class="select" asp-for="Status" class="form-control" required>
            <option value="">-- Select Status --</option>
            <option value="Open" selected="@Model.Status == "Open"">Open</option>
            <option value="Closed" selected="@Model.Status == "Closed"">Closed</option>
        </select> *@
        <select class="select" asp-for="Status" asp-items="@(new List<SelectListItem> {
                new SelectListItem { Value = "Open", Text = "Open" },
                new SelectListItem { Value = "Closed", Text = "Closed" }
            })" required>
            <option value="" selected disabled>-- Select Status --</option>
        </select>

       @*  <select class="select" asp-for="Status" required>
            <option value="" selected disabled>-- Select Status --</option>
            <option value="Open">Open</option>
            <option value="Closed">Closed</option>
        </select> *@
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group">
        <label asp-for="ProductImg"> Product Image</label>
        <div class="image-upload" style="position:relative;">
            <input asp-for="ProductImg" type="file" accept="image/*" id="fileInput" />
            <div class="image-uploads" id="imageuloadContainer">
                <img src="~/assets/img/icons/upload.svg" alt="img" />
                <h4>Drag and drop a file to upload</h4>
            </div>
            <div class="icons-items text-center" id="fileDetails" style="display: none;height: 100px;align-content: center;">
                <span id="fileName"></span><br />
                <span id="fileSize"></span><br />
                <ul class="icons-list" style="list-style-type: none; padding: 0; margin: 0; display: flex; justify-content: center; align-items: center;position:absolute;top:0;right:0;">
                    <li id="removeFile" style="display: flex; justify-content: center; align-items: center;cursor: pointer;">
                        <i class="fa fa-times" data-bs-toggle="tooltip" title="Remove the image!"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Hidden field for ImageUrl -->
<input type="hidden" asp-for="Image" id="ImageUrlHiddenField" />
<script type="text/javascript">
    $(document).ready(function () {
        // $('#BrandSubmitCancelId').click(function () {
        //     showContentFail('Your dasdadad');
        //     showContent('Your dasdadad');
        // });
        $('#fileInput').on('change', function () {
            var file = this.files[0];
            if (file) {
                $('#fileName').text('File Name: ' + file.name);
                $('#fileSize').text('File Size: ' + (file.size / 1024).toFixed(2) + ' KB');
                $('#fileDetails').show();
                $('#imageuloadContainer').hide();
                $('#fileInput').hide();
            }
        });
        $('#removeFile').on('click', function () {
            $('#fileInput').val('');
            $('#fileDetails').hide();
            $('#imageuloadContainer').show();
            $('#fileInput').show();
        })
        var categoryId = $('#categorySelect').val();
        var selectedSubCategoryId = @(Model?.SubCategoryId ?? 0); // assuming SubCategoryId is part of the model

        if (categoryId) {
            populateSubcategories(categoryId, selectedSubCategoryId);
        }

        $('#categorySelect').change(function () {
            var categoryId = $(this).val();
            populateSubcategories(categoryId);
        });

        function populateSubcategories(categoryId, selectedSubCategoryId = null) { 
            if (categoryId) {
                $.getJSON('@Url.Action("GetSubCategories", "Product")', { categoryId: categoryId }, function (data) {
                    var subcategorySelect = $('#subcategorySelect');
                    subcategorySelect.empty();
                    subcategorySelect.append('<option value="" selected disabled>Choose Sub Category</option>');
                    $.each(data, function (index, subcategory) {
                        // subcategorySelect.append($('<option>', {
                        //     value: subcategory.id,
                        //     text: subcategory.name
                        // }));
                        var option = $('<option>', {
                            value: subcategory.id,
                            text: subcategory.name
                        });

                        if (subcategory.id == selectedSubCategoryId) {
                            option.attr('selected', 'selected');
                        }

                        subcategorySelect.append(option);
                    });
                });
            } else {
                $('#subcategorySelect').empty();
                $('#subcategorySelect').append('<option value="" selected disabled>Choose Sub Category</option>');
            }
        }
    });

</script>